body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
}

a{
    color:inherit;
    text-decoration:none;
}
.wrap {
    background: bisque;
}

.logo {
    background: Cornflowerblue;
}

.content-wrap {
    background: black;
    display: flex;
}

.side-menu {
    background: Greenyellow;
    width:10%;
    height:800px;
    text-align: center;
}

.content {
    background: Lightblue;
    width:90%;
}